@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
  margin: 0;
  font-family:'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f3f3f3;
  color: #fff;
}


.inputSection div{
  margin-top: 200px;
  margin-left: 600px;
}

input{
  padding-left: 20px;
  height: 27px;
  border: 2px solid #003;
  outline: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

button{
  background-color: #003;
  height: 33px;
  border: none;
  outline: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 7px 12px;
  color: #fff;
  font-weight: 500;
}

button:hover{
  color: #F8B100;
  font-weight: 600;
}


